[
  {
    "title": "Phone",
    "value": "321-555-1234",
    "href": "tel:+13215551234",
    "icon": "icons/dog_on_phone2.jpg"
  },
  {
    "title": "Email",
    "value": "fred (at) example.com",
    "href": "mailto:fred@example.com",
    "icon": "icons/email.png"
  },
  {
    "title": "GitHub",
    "value": "@sukima",
    "href": "https://github.com/sukima",
    "icon": "icons/github_button.png"
  },
  {
    "title": "Website",
    "value": "http://tritarget.com/",
    "href": "http://tritarget.com/",
    "icon": "icons/vim_by_liggliluff-d5g1led.png"
  }
]
