/* Custom JQM styling */
#footer {
  text-align: center;
}

.dashboard {
  text-align: center;
}

#selfpic {
  width:  200px;
  height: 200px;
}

img.right {
  display: none;
}

.table-bottom {
  margin-top: 40px;
}

.alert {
  text-align:    center;
  padding:       15px;
  margin-bottom: 20px;
  border:        1px solid transparent;
  border-radius: 4px;

  &.alert-success {
    color:            #3C763D;
    background-color: #DFF0D8;
    border-color:     #D6E9C6;
  }

  &.alert-info {
    color:            #31708F;
    background-color: #D9EDF7;
    border-color:     #BCE8F1;
  }

  &.alert-warning {
    color:            #8A6D3B;
    background-color: #FCF8E3;
    border-color:     #FAEBCC;
  }

  &.alert-danger {
    color:            #A94442;
    background-color: #F2DEDE;
    border-color:     #EBCCD1;
  }
}

#decryptedNotice {
  display:  none;
  position: absolute;
  top:      5px;
  z-index:  100;
  box-shadow: 2px 2px 6px #333;
}

@media screen and (min-width: 321px) {
  #decryptedNotice {
    right: 50px;
  }
}

@media screen and (max-width: 320px) {
  #decryptedNotice {
    right: 5px;
  }

  #selfpic {
    width:  114px;
    height: 114px;
  }
}
